/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,body {
  background-color: #141414;
  overflow-x: hidden;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff01;
  backdrop-filter: blur(1rem);
  font-size: 1.5rem;
  padding: 8px;
  user-select: none;
  z-index: 100;
}

.nav-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff01;
}

.nav-logo {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

.nav-logo:hover {
  color: #00ffff;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;  transition: all 0.3s ease 0s;
  position: relative;
  letter-spacing: 0.5px;
}

.nav-links a:after{
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

a:hover:after{
  width: 100%;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

.nav-links a:active {
  transition: 3s;
}
