/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,body {
  background-color: #141414;
  overflow-x: hidden;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff01;
  backdrop-filter: blur(1rem);
  font-size: 1.5rem;
  padding: 8px;
  user-select: none;
  z-index: 100;
}

.nav-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff01;
}

.nav-logo {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

.nav-logo:hover {
  color: #00ffff;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;  transition: all 0.3s ease 0s;
  position: relative;
  letter-spacing: 0.5px;
}

.nav-links a:after{
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

a:hover:after{
  width: 100%;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

.nav-links a:active {
  transition: 3s;
}

/* Carousel */

main {
  margin-top: 61px;
}

.project-content {
  text-align: center;
  margin-top: 8rem;
}

.slide {
  display: none;
}

.active {
  display: initial;
}

.slide img {
  border-radius: 0.25rem;
}
.carousel-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.4s;
}

.carousel-button:hover {
  background-color: #00000030;
}

.prevbtn {
  position: relative;
  top: -260px;
  left: -470px;
  transform: translateY(-50%);
}

.nextbtn {
  position: relative;
  top: -260px;
  right: -470px;
  transform: translateY(-50%);
}

.carousel-indicator {
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  border-radius: 50%;
  outline: none;
  margin: 0.25rem 0.125rem;
}

.current-indicator {
  background-color: #00ffff;
}