/* General */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,body {
  background-color: #141414;
  overflow-x: hidden;
}

/* Navbar */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff01;
  backdrop-filter: blur(1rem);
  font-size: 1.5rem;
  padding: 8px;
  user-select: none;
  z-index: 50;
}

.nav-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff01;
}

.nav-logo {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

.nav-logo:hover {
  color: #00ffff;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;  transition: all 0.3s ease 0s;
  position: relative;
  letter-spacing: 0.5px;
}

.nav-links a:after{
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

a:hover:after{
  width: 100%;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

.nav-links a:active {
  transition: 3s;
}

.bx-link-external {
  font-size: 0.75rem;
  position: relative;
  bottom: 0.65rem;
  right: 0.5rem;
}

/* Hamburger Menu */

.hamburger-menu {
  padding: 10px;
  z-index: 50;
}

.hamburger-menu input {
  width: 1.44rem;
  height: 1.25rem;
  position: absolute;
  right: 1.2rem;
  top: 1.1rem;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.hamburger-menu input:checked ~ .menu-toggle-div ul {
  padding-top: 4rem;
  transform: translateY(-57px);
}

.hamburger-menu span {
  display: block;
  width: 1.25rem;
  height: 3px;
  margin: 3px;
  background: white;
  border-radius: 2px;
}

.menu-toggle {
  list-style-type: none;
  text-align: right;
  background-color: #ffffff10;
  backdrop-filter: blur(1rem);
  width: 10rem;
  height: 15rem;
  border-radius: 1px 0.15rem;
  position: absolute;
  padding-top: 4rem;
  right: 0;
  transform-origin: 0% 0%;
  transform: translate(100%, -57px);
  transition: transform 1s cubic-bezier(0.75, 0.01, 0.25, 1);
}

.menu-toggle li {
  padding: 0.75rem;
}

.menu-toggle a:hover {
  color: #00ffff;
  transition: 0.3s ease;
}

/* Frontpage */

.frontpage {
  background-image: url(https://yusuf0celik.github.io/portfolio/img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.frontpage-quote {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20rem;
  height: 4rem;
}

.frontpage h1 {
  position: relative;
  text-align: center;
  font-size: 3.5rem;
  user-select: none;
  transition: 200ms ease;
  font-weight: 600;
  height: 4rem;
}

.frontpage h1:hover {
  font-size: 4rem;
}

/* About Me */

.aboutme-content {
  display: flex;
}

.aboutme-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.aboutme-text {
  max-width: 25rem;
  min-width: auto;
  margin-left: auto;
  margin-right: 75px;
  font-size: 1.15rem;
}

.aboutme-text a {
  color: #00EBB7;
}

.aboutme-img {
  max-width: 25rem;
  height: 30rem;
  overflow: hidden;
  margin-left: 75px;
  margin-right: auto;
}

.aboutme-img img {
  width: 1100px;
  height: 600px;
  transform: translateX(-220px);
}

/* .Projects */

.projects-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.project-content ul {
  display: flex;
  list-style-type: none;
}

.project-blank {
  width: 250px;
  height: 249px;
}

.project {
  width: 250px;
  height: 250px;
  border: 2px solid white;
  border-radius: .125rem;
}

.calculator {
  background-color: #252525;
  margin: auto;
  background-image: url(https://yusuf0celik.github.io/portfolio/img/calculator.png);
  background-size: 100%;
}

.project1-img {
  transform: scale(0,5);
}

.modal-button {
  position: relative;
  bottom: 1.45rem;
  padding: 0.125rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.modal-button:hover {
  background-color: #ffffff40;
}

.modal-button:active {
  background-color: #ffffff30;
}

/* Modal */

.modal {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s;
  z-index: 52;
  padding: 1rem;
  background-color: #F0E7DB;
  border: 2px solid white;
  border-radius: 0.5rem;
}

/* Project Calculator */

.modal.active{
  transform: translate(-50%, -50%) scale(1);
}

.modal-head > * {
  margin-bottom: 1rem;
  color: black;
  font-weight: 600;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bx-window-close {
  font-size: 1.25rem;
  cursor: pointer;
}

.modal-body {
  margin-top: 1rem;
  color: black;
}

.modal-body input {
  color: black;
}

.modal-body button {
  background-color: white;
  color: black;
  padding: 0.125rem;
  outline: none;
  border: 1px solid black;
  border-radius: 0.25rem
}

.modal-body button:hover {
  background-color: #e6e6e6;
}

.overlay.active {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 51;
  background-color: #00000050;
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Contact */

.contact-title {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.contact-links {
  width: 150px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.contact-links a, .contact-links i {
  color: #00EBB7;
}

.contact-links ul {
  list-style-type: none;
}

.social-link {
  width: 9rem;
  height: auto;
  padding: 5px;
  border-radius: 0.5rem;
  transition: 0.2s ease;
}

.social-link:hover {
  background-color: #ffffff20;
}

.social-link:hover a, .social-link:hover i {
  color: #00EBB7;
}

/* Footer */

.footer {
  margin-top: 9rem;
  padding: .5rem;
  background-color: #090909;
  font-size: 0.9rem;
  text-align: center;
}

/* Media Queries */

@media (max-width: 576px) {
}

@media (max-width: 768px) {
  .nav-logo-div {
    padding-left: 46px;
    margin: 0 auto;
  }
  
  .nav-links-div {
    display: none;
  }
  
  .project-content ul {
    display: block;
  }
  
  .project1 {
    margin: 0 auto;
  }
  
  .project2 {
    margin: 0.5rem auto;
  }
  
  .project3 {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  
}

@media (max-width: 992px) {
  .aboutme-content {
    display: block;
  }
  
  .aboutme-text {
    margin: 0 auto;
    padding: 0.5rem;
  }
  
  .aboutme-img {
    margin: 0 auto;
    padding: 0.5rem;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  display: none;
}