* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

html,body {
  background-color: #141414;
}

/* Navbar */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 8px;
  user-select: none;
}

.nav-background {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-logo {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

.nav-logo:hover {
  color: #00ffff;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links a {
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;  transition: all 0.3s ease 0s;
  position: relative;
  letter-spacing: 0.5px;
}

.nav-links a:after{
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

a:hover:after{
  width: 100%;
}

.nav-links li {
  padding: 0.5rem 1rem;
}

/* Frontpage */

.frontpage {
  position: static;
  background-image: url(/img/background.png);
  width: 100vw;
  height: 100vh;
}

.frontpage-quote {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20%;
  height: 4rem;
}

.frontpage h1 {
  position: relative;
  text-align: center;
  font-size: 3.5rem;
  user-select: none;
  transition: 200ms ease;
  font-weight: 600;
}

.frontpage h1:hover {
  font-size: 4rem;
}

.arrow-down {
  display: flex;
  justify-content: flex-end;
  margin: 30.5rem 0 5px;
  font-size: 2.5rem;
  animation: arrow 2s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* About Me */

.aboutme-content {
  display: flex;
}

.aboutme-title {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.aboutme-text {
  max-width: 400px;
  min-width: auto;
  font-size: 1.15rem;
}

/* .aboutme-img */

/* Scrollbar */

::-webkit-scrollbar {
  display: none;
}